
@{
    ViewData["Title"] = "Cadastrar";
}

<h1 class="text-center">Fazer Pedido</h1>
<br />

<body class="bg-transparent">


    <div class="container">
        <div class="row">
            <div class="form-group col-sm">
                <label class="control-label">Refeições</label>
                <select name="RefeicaoID" id="RefeicaoID" class="form-control">
                    @foreach (var item in ViewBag.Refeicoes)
                    {
                        <option data-preco="@item.Preco" value="@item.ID">@item.Nome</option>
                    }
                </select>
                <span id="erroRefeicao" name="erroRefeicao" class="text-danger"></span><br />
            </div>
            <div class="form-group col-sm">
                <label class="control-label">Bebidas</label>
                <select name="BebidaID" id="BebidaID" class="form-control">
                    @foreach (var item in ViewBag.Bebidas)
                    {
                        <option data-preco="@item.Preco" value="@item.ID">@item.Nome</option>
                    }
                </select>
                <span id="erroBebida" name="erroBebida" class="text-danger"></span><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <table id="Nota" name="Nota" class="table dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th>Preco</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Finalizar" class="btn btn-default" id="BotaoFinalizar" name="BotaoFinalizar" />
            <input type="button" value="Adicionar Bebida" class="btn btn-default" id="AddBebida" name="AddBebida" />
            <input type="button" value="Adicionar Refeição" class="btn btn-default" id="AddRefeicao" name="AddRefeicao" />

        </div>
    </div>

</body>

@section scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {

            var table = $('#Nota').DataTable(
                {
                    language: {
                        search: "Procurar",
                        searchPlaceholder: "Nome do item"
                    },
                    columns: [
                        //"dummy" configuration
                        { visible: true }, //col 1
                        { visible: true }, //col 2
                        { visible: true }, //col 3
                    ],
                    "paging": false,
                    "ordering": false,
                    "info": false,
                });

            $("#AddBebida").click(function (e) {

                var selected = $("#BebidaID").find('option:selected');

                var id = $("#BebidaID").val();
                var nome = $("#BebidaID").find('option:selected').text();
                var preco = selected.data("preco");

                table.row.add([
                    id, nome, preco
                ]).draw(false);
            });

            $("#AddRefeicao").click(function (e) {

                var selected = $("#RefeicaoID").find('option:selected');

                var id = $("#RefeicaoID").val();
                var nome = $("#RefeicaoID").find('option:selected').text();
                var preco = selected.data("preco");

                table.row.add([
                    id, nome, preco
                ]).draw(false);
            });


            $("#Finalizar").click(function (e) {



            });
        });
    </script>

}

