
@{
    ViewData["Title"] = "Cadastrar";
}

<br />
<h1 class="text-center">Cadastro de Pedido</h1>
<br />

<body class="bg-transparent">
    <div class="container">
        <div class="row">
            <div class="form-group col-sm">
                <label class="control-label">Refeições</label>
                <select name="RefeicaoID" id="RefeicaoID" class="form-control">
                    @foreach (var item in ViewBag.Refeicoes)
                    {
                        <option data-preco="@item.Preco" value="@item.ID">@item.Nome</option>
                    }
                </select>
                <span id="erroRefeicao" name="erroRefeicao" class="text-danger"></span><br />
            </div>
            <div class="form-group col-sm">
                <label class="control-label">Bebidas</label>
                <select name="BebidaID" id="BebidaID" class="form-control">
                    @foreach (var item in ViewBag.Bebidas)
                    {
                        <option data-preco="@item.Preco" value="@item.ID">@item.Nome</option>
                    }
                </select>
                <span id="erroBebida" name="erroBebida" class="text-danger"></span><br />
            </div>
            <div class="form-group col-sm">
                <label class="control-label">Sobremesas</label>
                <select name="SobremesaID" id="SobremesaID" class="form-control">
                    @foreach (var item in ViewBag.Sobremesas)
                    {
                        <option data-preco="@item.Preco" value="@item.ID">@item.Nome</option>
                    }
                </select>
                <span id="erroBebida" name="erroBebida" class="text-danger"></span><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <table id="Nota" name="Nota" class="table dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th>Preco</th>
                </tr>
            </thead>
            <tbody>
            <tfoot>
                <tr>
                    <th colspan="3" style="text-align:right">Total:</th>
                </tr>
            </tfoot>
            </tbody>
        </table>

    </div>

    <div class="form-group ">
        <div class="col-md-offset-2 col-md-9">
            <div class="text-right">
                <input type="submit" value="Finalizar" class="btn btn-secondary btn-lg" id="Finalizar" name="Finalizar" />
                <input type="button" value="Adicionar Bebida" class="btn btn-secondary btn-lg" id="AddBebida" name="AddBebida" />
                <input type="button" value="Adicionar Refeição" class="btn btn-secondary btn-lg" id="AddRefeicao" name="AddRefeicao" />
                <input type="button" value="Adicionar Sobremesa" class="btn btn-secondary btn-lg" id="AddSobremesa" name="AddSobremesa" />
            </div>
        </div>
    </div>

</body>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {

            var table = $('#Nota').DataTable(
                {

                    language: {
                        search: "Procurar",
                        searchPlaceholder: "Nome do item"
                    },
                    columns: [
                        //"dummy" configuration
                        { visible: true }, //col 1
                        { visible: true }, //col 2
                        { visible: true }, //col 3
                    ],
                    "paging": false,
                    "ordering": false,
                    "info": false,

                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };

                        // Total over all pages
                        total = api
                            .column(2)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total over this page
                        pageTotal = api
                            .column(2, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Update footer
                        $(api.column(2).footer()).html(
                            'TOTAL A PAGAR : ' + 'R$' + SSSpageTotal
                        );
                    }

                });


            $("#AddBebida").click(function (e) {

                var selected = $("#BebidaID").find('option:selected');

                var id = $("#BebidaID").val();
                var nome = $("#BebidaID").find('option:selected').text();
                var preco = selected.data("preco");

                // var total = selected.total("preco");



                table.row.add([
                    id, nome, preco
                ]).draw(false);
            });

            $("#AddRefeicao").click(function (e) {

                var selected = $("#RefeicaoID").find('option:selected');

                var id = $("#RefeicaoID").val();
                var nome = $("#RefeicaoID").find('option:selected').text();
                var preco = selected.data("preco");

                //var total = selected.total("preco");



                table.row.add([
                    id, nome, preco
                ]).draw(false);
            });

            $("#AddSobremesa").click(function (e) {

                var selected = $("#SobremesaID").find('option:selected');

                var id = $("#SobremesaID").val();
                var nome = $("#SobremesaID").find('option:selected').text();
                var preco = selected.data("preco");

                //var total = selected.total("preco");



                table.row.add([
                    id, nome, preco
                ]).draw(false);
            });

            $("#Finalizar").click(function (e) {

                // var selected1 = $("#BebidaID").find('option:selectedBebida');

                // var selected2 = $("#RefeicaoID").find('option:selectedRefeicao');
                //

                // var total1 = selected1.data("preco").total();
                //var total = selected.total("preco");

                e.preventDefault();

            });
        });
    </script>

}

